<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lettuce.productsShown.dao.ProductsShownGoodDao">
    <resultMap id="GoodBaseResultMap" type="com.lettuce.productsShown.entity.GoodBase">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="BIGINT" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="categoryId" jdbcType="BIGINT" property="categoryId"/>
        <result column="goodName" jdbcType="VARCHAR" property="goodName"/>
        <result column="goodMaxPrice" jdbcType="DECIMAL" property="goodMaxPrice"/>
        <result column="goodMinPrice" jdbcType="DECIMAL" property="goodMinPrice"/>
        <result column="goodUrl" jdbcType="VARCHAR" property="goodUrl"/>
        <result column="goodCoverImg" jdbcType="VARCHAR" property="goodCoverImg"/>
        <result column="isSpecialPrice" jdbcType="TINYINT" property="isSpecialPrice"/>
        <result column="specialPrice" jdbcType="DECIMAL" property="specialPrice"/>
        <result column="isDiscount" jdbcType="TINYINT" property="isDiscount"/>
        <result column="paymentNo" jdbcType="INTEGER" property="paymentNo"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="markNo" jdbcType="INTEGER" property="markNo"/>
        <result column="commentNo" jdbcType="INTEGER" property="commentNo"/>
        <result column="sellStatus" jdbcType="TINYINT" property="sellStatus"/>
        <result column="sellTime" jdbcType="TIMESTAMP" property="sellTime"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="GoodDetailResultMap" type="com.lettuce.productsShown.entity.GoodDetail">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="BIGINT" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="goodDescribe" jdbcType="VARCHAR" property="goodDescribe"/>
        <result column="goodSize" jdbcType="DOUBLE" property="goodSize"/>
        <result column="companyId" jdbcType="BIGINT" property="companyId"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="GoodDeliverWayResultMap" type="com.lettuce.productsShown.entity.GoodDeliverWay">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="BIGINT" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="deliverWay" jdbcType="TINYINT" property="deliverWay"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="GoodDiscountResultMap" type="com.lettuce.productsShown.entity.GoodDiscount">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="BIGINT" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="discountOff" jdbcType="DOUBLE" property="discountOff"/>
        <result column="fullPrice" jdbcType="DECIMAL" property="fullPrice"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="GoodInfoResultMap" type="com.lettuce.productsShown.entity.GoodInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="BIGINT" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="infoType" jdbcType="TINYINT" property="infoType"/>
        <result column="info" jdbcType="VARCHAR" property="info"/>
        <result column="infoRank" jdbcType="INTEGER" property="infoRank"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <sql id="Good_Base_List">
        mgb.id, mgb.appId, mgb.goodId, categoryId, goodName, goodMaxPrice, goodMinPrice, goodUrl, goodCoverImg,
        isSpecialPrice, specialPrice, isDiscount, paymentNo, stock, markNo,
        commentNo, sellStatus, sellTime, mgb.createTime, mgb.createUserId,
        mgb.gmtTime, mgb.gmtUserId
    </sql>
    <sql id="Good_Detail_List">
        mgd.id, mgd.appId, mgd.goodId, goodDescribe, goodSize, companyId, mgd.createTime,
        mgd.createUserId, mgd.gmtTime, mgd.gmtUserId
    </sql>
    <sql id="Good_Deliver_Way_List">
        mgdw.id, mgdw.appId, mgdw.goodId, deliverWay, mgdw.createTime, mgdw.createUserId,
        mgdw.gmtTime, mgdw.gmtUserId
    </sql>
    <sql id="Good_Discount_List">
        mgd.id, mgd.appId, mgd.goodId, discountOff, fullPrice, mgd.createUserId,
        mgd.createTime, mgd.gmtUserId, mgd.gmtTime
    </sql>
    <sql id="Good_Info_List">
        mgi.id, mgi.appId, mgi.goodId, infoType, info, infoRank, mgi.createUserId,
        mgi.createTime, mgi.gmtUserId, mgi.gmtTime
    </sql>
    <select id="getSpecialPriceGoodBaseInfo" resultMap="GoodBaseResultMap">
        select
        <include refid="Good_Base_List"/>
        from products_shown_good_base as mgb
        where isSpecialPrice = 1
        and sellStatus = 1
        <if test="appId!=null">
            and mgb.appId = #{appId}
        </if>
        <if test="number!=null">
            limit #{number}
        </if>
    </select>
    <select id="getDiscountGoodBaseInfo" resultMap="GoodBaseResultMap, GoodDiscountResultMap">
        select
        <include refid="Good_Base_List"/>,
        <include refid="Good_Discount_List"/>
        from products_shown_good_base as mgb
        right join products_shown_good_discount as mgd
        on mgb.goodId = mgd.goodId
        where isDiscount = 1
        and sellStatus = 1
        <if test="appId!=null">
            and mgb.appId = #{appId}
        </if>
        <if test="number!=null">
            limit #{number}
        </if>
    </select>
    <select id="getHotGoodBaseInfo" resultMap="GoodBaseResultMap">
        select
        <include refid="Good_Base_List"/>
        from products_shown_good_base as mgb
        where sellStatus = 1
        <if test="appId!=null">
            and mgb.appId = #{appId}
        </if>
        order by paymentNo desc
        <if test="number!=null">
            limit #{number}
        </if>
    </select>
    <select id="getNewGoodBaseInfo" resultMap="GoodBaseResultMap">
        select
        <include refid="Good_Base_List"/>
        from products_shown_good_base as mgb
        where sellStatus = 1
        <if test="appId!=null">
            and mgb.appId = #{appId}
        </if>
        order by sellTime desc
        <if test="number!=null">
            limit #{number}
        </if>
    </select>
    <select id="getGoodBaseInfo" resultMap="GoodBaseResultMap">
        select
        <include refid="Good_Base_List"/>
        from products_shown_good_base as mgb
        where sellStatus = 1
        <if test="appId!=null">
            and mgb.appId = #{appId}
        </if>
        and mgb.goodId = #{goodId}
    </select>
    <select id="getGoodDetailInfo" resultMap="GoodDetailResultMap">
        select
        <include refid="Good_Detail_List"/>
        from products_shown_good_detail as mgd
        where mgd.goodId = #{goodId}
        <if test="appId!=null">
            and mgd.appId = #{appId}
        </if>
    </select>
    <select id="getGoodDeliverWay" resultMap="GoodDeliverWayResultMap">
        select
        <include refid="Good_Deliver_Way_List"/>
        from products_shown_good_deliver_way as mgdw
        where mgdw.goodId = #{goodId}
        <if test="appId!=null">
            and mgdw.appId = #{appId}
        </if>
    </select>
    <select id="getGoodDiscount" resultMap="GoodDiscountResultMap">
        select
        <include refid="Good_Discount_List"/>
        from products_shown_good_Discount as mgdi
        where mgdi.goodId = #{goodId}
        <if test="appId!=null">
            and mgdi.appId = #{appId}
        </if>
    </select>
    <select id="getGoodInfoList" resultMap="GoodInfoResultMap">
        select
        <include refid="Good_Info_List"/>
        from products_shown_good_info as mgi
        where mgi.goodId = #{goodId}
        <if test="appId!=null">
            and mgi.appId = #{appId}
        </if>
        order by infoRank asc
    </select>
</mapper>