<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lettuce.management.dao.ManagementPermissionDao">
    <resultMap id="PermissionResultMap" type="com.lettuce.management.entity.Permission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parentId" jdbcType="INTEGER" property="parentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="css" jdbcType="VARCHAR" property="css"/>
        <result column="href" jdbcType="VARCHAR" property="href"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="INTEGER" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="INTEGER" property="gmtUserId"/>
    </resultMap>
    <sql id="Permission_List">
        mp.id, mp.parentId, mp.name, mp.css, mp.href, mp.type,
        mp.permission, mp.sort, mp.createTime, mp.createUserId, mp.gmtTime, mp.gmtUserId
    </sql>
    <select id="listByUserId" resultMap="PermissionResultMap">
        select distinct
        <include refid="Permission_List"/>
        from management_permission as mp
        inner join management_role_permission as mrp
        on mp.id = mrp.permissionId
        inner join management_user_role as mur
        on mrp.roleId = mur.roleId
        where 1 = 1
        <if test="userId!=null">
            and mur.userId = #{userId}
        </if>
        order by mp.sort
    </select>
    <select id="listAll" resultMap="PermissionResultMap">
        select
        <include refid="Permission_List"/>
        from management_permission as mp
        order by mp.sort
    </select>
    <select id="listParents" resultMap="PermissionResultMap">
        select
        <include refid="Permission_List"/>
        from management_permission as mp
        where mp.type = 1 order by mp.sort
    </select>
    <select id="listByRoleId" resultMap="PermissionResultMap">
        select
        <include refid="Permission_List"/>
        from management_permission as mp
        inner join management_role_permission as mrp
        on mp.id = mrp.permissionId
        where mrp.roleId = #{roleId}
        order by mp.sort
    </select>
    <insert id="savePermission">
        insert into management_permission
        (parentId, name, css, href, type, permission, sort, createTime, createUserId)
        values(#{parentId}, #{name}, #{css}, #{href}, #{type},
        #{permission}, #{sort}, now(), #{createUserId})
    </insert>
    <select id="getByPermissionId" resultMap="PermissionResultMap">
        select
        <include refid="Permission_List"/>
        from management_permission as mp
        where mp.id = #{id}
    </select>
    <update id="updatePermission">
        update management_permission
        set parentId = #{parentId}, name = #{name},
        css = #{css}, href = #{href},
        type = #{type}, permission = #{permission}, sort = #{sort}, gmtTime = now(),
        gmtUserId = #{gmtUserId}
        where id = #{id}
    </update>
    <delete id="deleteRolePermission">
        delete from management_role_permission
        where id = #{id}
    </delete>
    <delete id="deletePermission">
        delete from management_permission
        where id = #{id}
    </delete>
    <delete id="deleteByParentId">
        delete from management_permission
        where parentId = #{parentId}
    </delete>
</mapper>