<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lettuce.management.dao.ProductsShownGoodDao">
    <resultMap id="GoodBaseResultMap" type="com.lettuce.management.dto.GoodBaseDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="VARCHAR" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="categoryId" jdbcType="BIGINT" property="categoryId"/>
        <result column="goodName" jdbcType="VARCHAR" property="goodName"/>
        <result column="goodMaxPrice" jdbcType="DECIMAL" property="goodMaxPrice"/>
        <result column="goodMinPrice" jdbcType="DECIMAL" property="goodMinPrice"/>
        <result column="goodPrice" jdbcType="VARCHAR" property="goodPrice"/>
        <result column="goodUrl" jdbcType="VARCHAR" property="goodUrl"/>
        <result column="goodCoverImg" jdbcType="VARCHAR" property="goodCoverImg"/>
        <result column="isSpecialPrice" jdbcType="TINYINT" property="isSpecialPrice"/>
        <result column="specialPrice" jdbcType="DECIMAL" property="specialPrice"/>
        <result column="isDiscount" jdbcType="TINYINT" property="isDiscount"/>
        <result column="paymentNo" jdbcType="INTEGER" property="paymentNo"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="markNo" jdbcType="INTEGER" property="markNo"/>
        <result column="commentNo" jdbcType="INTEGER" property="commentNo"/>
        <result column="sellStatus" jdbcType="TINYINT" property="sellStatus"/>
        <result column="sellTime" jdbcType="TIMESTAMP" property="sellTime"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="GoodDetailResultMap" type="com.lettuce.management.entity.GoodDetail">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="BIGINT" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="goodDescribe" jdbcType="VARCHAR" property="goodDescribe"/>
        <result column="goodSize" jdbcType="DOUBLE" property="goodSize"/>
        <result column="companyId" jdbcType="BIGINT" property="companyId"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="ManagementDeliverWayResultMap" type="com.lettuce.management.entity.DeliverWay">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="deliverWay" jdbcType="VARCHAR" property="deliverWay"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="GoodDeliverWayResultMap" type="com.lettuce.management.entity.GoodDeliverWay">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="BIGINT" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="deliverWay" jdbcType="BIGINT" property="deliverWay"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="GoodDiscountResultMap" type="com.lettuce.management.entity.GoodDiscount">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="BIGINT" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="discountOff" jdbcType="DOUBLE" property="discountOff"/>
        <result column="fullPrice" jdbcType="DECIMAL" property="fullPrice"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="GoodInfoResultMap" type="com.lettuce.management.entity.GoodInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="BIGINT" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="infoType" jdbcType="TINYINT" property="infoType"/>
        <result column="info" jdbcType="VARCHAR" property="info"/>
        <result column="infoRank" jdbcType="INTEGER" property="infoRank"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <sql id="Good_Base_List">
        psgb.id, psgb.appId, psgb.goodId, psgb.categoryId, goodName, goodMaxPrice,
        goodMinPrice, goodUrl, goodCoverImg, isSpecialPrice, specialPrice,
        isDiscount, paymentNo, stock, markNo, commentNo, sellStatus, sellTime,
        psgb.createTime, psgb.createUserId, psgb.gmtTime, psgb.gmtUserId
    </sql>
    <sql id="Good_Detail_List">
        psgd.id, psgd.appId, psgd.goodId, goodDescribe, goodSize, companyId, psgd.createTime,
        psgd.createUserId, psgd.gmtTime, psgd.gmtUserId
    </sql>
    <sql id="Management_Deliver_Way_List">
        mdwl.id, mdwl.deliverWay
    </sql>
    <sql id="Good_Deliver_Way_List">
        psgdw.id, psgdw.appId, psgdw.goodId, deliverWay, psgdw.createTime, psgdw.createUserId,
        psgdw.gmtTime, psgdw.gmtUserId
    </sql>
    <sql id="Good_Discount_List">
        psgd.id, psgd.appId, psgd.goodId, discountOff, fullPrice, psgd.createUserId,
        psgd.createTime, psgd.gmtUserId, psgd.gmtTime
    </sql>
    <sql id="Good_Info_List">
        psgi.id, psgi.appId, psgi.goodId, infoType, info, infoRank, psgi.createUserId,
        psgi.createTime, psgi.gmtUserId, psgi.gmtTime
    </sql>
    <sql id="GoodBaseWhere">
        <where>
            <if test="params != null and params != ''">
                <if test="params.appId != null and params.appId != ''">
                    and psgb.appId = #{params.appId}
                </if>
                <if test="params.goodId != null and params.goodId != ''">
                    and psgb.goodId = #{params.goodId}
                </if>
                <if test="params.categoryId != null and params.categoryId != ''">
                    and psgb.categoryId = #{params.categoryId}
                </if>
                <if test="params.goodName != null and params.goodName != ''">
                    and psgb.goodName like CONCAT('%',#{params.goodName},'%')
                </if>
                <if test="params.sellStatus != null and params.sellStatus != ''">
                    and psgb.sellStatus = #{params.sellStatus}
                </if>
            </if>
        </where>
    </sql>
    <select id="list" resultMap="GoodBaseResultMap">
        select
        <include refid="Good_Base_List"/>
        from products_shown_good_base as psgb
        <include refid="GoodBaseWhere"/>
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>
    <select id="count" resultType="int">
        select count(1) from products_shown_good_base as psgb
        <include refid="GoodBaseWhere"/>
    </select>
    <select id="getGoodIdByCategoryId" resultType="java.lang.Long">
        select goodId from products_shown_good_base
        where categoryId = #{categoryId}
    </select>
    <delete id="deleteGoodBaseByGoodIdList" parameterType="java.lang.Long">
        delete from products_shown_good_base
        where goodId in
        <foreach collection="list" item="goodId" separator="," open="(" close=")">
            #{goodId, jdbcType=NUMERIC}
        </foreach>
    </delete>
    <delete id="deleteGoodInfoByGoodIdList" parameterType="java.lang.Long">
        delete from products_shown_good_info
        where goodId in
        <foreach collection="list" item="goodId" separator="," open="(" close=")">
            #{goodId, jdbcType=NUMERIC}
        </foreach>
    </delete>
    <delete id="deleteGoodDetailByGoodIdList" parameterType="java.lang.Long">
        delete from products_shown_good_detail
        where goodId in
        <foreach collection="list" item="goodId" separator="," open="(" close=")">
            #{goodId, jdbcType=NUMERIC}
        </foreach>
    </delete>
    <delete id="deleteGoodDeliverWayByGoodIdList" parameterType="java.lang.Long">
        delete from products_shown_good_deliver_way
        where goodId in
        <foreach collection="list" item="goodId" separator="," open="(" close=")">
            #{goodId, jdbcType=NUMERIC}
        </foreach>
    </delete>
    <delete id="deleteGoodDiscountByGoodIdList" parameterType="java.lang.Long">
        delete from products_shown_good_discount
        where goodId in
        <foreach collection="list" item="goodId" separator="," open="(" close=")">
            #{goodId, jdbcType=NUMERIC}
        </foreach>
    </delete>
    <select id="getGoodByName" resultMap="GoodBaseResultMap">
        select
        <include refid="Good_Base_List"/>
        from products_shown_good_base as psgb
        where 1 = 1
        <if test="goodName != null and goodName != ''">
            and psgb.goodName = #{goodName}
        </if>
        <if test="appId != null and appId != ''">
            and psgb.appId = #{appId}
        </if>
    </select>
    <insert id="saveBase">
        insert into products_shown_good_base
        (appId, goodId, categoryId, goodName, goodMaxPrice, goodMinPrice, goodUrl, isSpecialPrice, specialPrice, isDiscount, stock, sellStatus, sellTime, createUserId, createTime)
        value
        (#{appId}, #{goodId}, #{categoryId}, #{goodName}, #{goodMaxPrice}, #{goodMinPrice}, #{goodUrl}, #{isSpecialPrice},
        #{specialPrice}, #{isDiscount}, #{stock}, #{sellStatus}, #{sellTime}, #{createUserId}, now())
    </insert>
    <insert id="saveDetail">
        insert into products_shown_good_detail
        (appId, goodId, goodDescribe, goodSize, companyId, createUserId, createTime)
        value
        (#{appId}, #{goodId}, #{goodDescribe}, #{goodSize}, #{companyId}, #{createUserId}, now())
    </insert>
    <insert id="saveDiscount">
        insert into products_shown_good_discount
        (appId, goodId, discountOff, fullPrice, createUserId, createTime)
        value
        (#{appId}, #{goodId}, #{discountOff}, #{fullPrice}, #{createUserId}, now())
    </insert>
    <select id="listAll" resultMap="ManagementDeliverWayResultMap">
        select
        <include refid="Management_Deliver_Way_List"/>
        from management_deliver_way as mdwl
        order by mdwl.id asc
    </select>
    <insert id="saveDeliverWay">
        insert into products_shown_good_deliver_way(appId, goodId, deliverWay, createUserId, createTime)
        values
        <foreach collection="goodDeliverWayList" item="goodDeliverWay" separator=",">
            (#{goodDeliverWay.appId}, #{goodDeliverWay.goodId}, #{goodDeliverWay.deliverWay}, #{goodDeliverWay.createUserId}, now())
        </foreach>
    </insert>
</mapper>