<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lettuce.management.dao.ProductsShownGoodDao">
    <resultMap id="GoodBaseResultMap" type="com.lettuce.management.dto.GoodBaseDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="VARCHAR" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="categoryId" jdbcType="BIGINT" property="categoryId"/>
        <result column="categoryName" jdbcType="VARCHAR" property="categoryName"/>
        <result column="goodName" jdbcType="VARCHAR" property="goodName"/>
        <result column="goodMaxPrice" jdbcType="DECIMAL" property="goodMaxPrice"/>
        <result column="goodMinPrice" jdbcType="DECIMAL" property="goodMinPrice"/>
        <result column="goodPrice" jdbcType="VARCHAR" property="goodPrice"/>
        <result column="goodUrl" jdbcType="VARCHAR" property="goodUrl"/>
        <result column="goodCoverImg" jdbcType="VARCHAR" property="goodCoverImg"/>
        <result column="isSpecialPrice" jdbcType="TINYINT" property="isSpecialPrice"/>
        <result column="specialPrice" jdbcType="DECIMAL" property="specialPrice"/>
        <result column="isDiscount" jdbcType="TINYINT" property="isDiscount"/>
        <result column="paymentNo" jdbcType="INTEGER" property="paymentNo"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="markNo" jdbcType="INTEGER" property="markNo"/>
        <result column="commentNo" jdbcType="INTEGER" property="commentNo"/>
        <result column="sellStatus" jdbcType="TINYINT" property="sellStatus"/>
        <result column="sellTime" jdbcType="TIMESTAMP" property="sellTime"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="GoodResultMap" type="com.lettuce.management.dto.GoodDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="VARCHAR" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="categoryId" jdbcType="BIGINT" property="categoryId"/>
        <result column="goodName" jdbcType="VARCHAR" property="goodName"/>
        <result column="goodMaxPrice" jdbcType="DECIMAL" property="goodMaxPrice"/>
        <result column="goodMinPrice" jdbcType="DECIMAL" property="goodMinPrice"/>
        <result column="goodPrice" jdbcType="VARCHAR" property="goodPrice"/>
        <result column="goodUrl" jdbcType="VARCHAR" property="goodUrl"/>
        <result column="goodCoverImg" jdbcType="VARCHAR" property="goodCoverImg"/>
        <result column="isSpecialPrice" jdbcType="TINYINT" property="isSpecialPrice"/>
        <result column="specialPrice" jdbcType="DECIMAL" property="specialPrice"/>
        <result column="isDiscount" jdbcType="TINYINT" property="isDiscount"/>
        <result column="paymentNo" jdbcType="INTEGER" property="paymentNo"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="markNo" jdbcType="INTEGER" property="markNo"/>
        <result column="commentNo" jdbcType="INTEGER" property="commentNo"/>
        <result column="sellStatus" jdbcType="TINYINT" property="sellStatus"/>
        <result column="sellTime" jdbcType="TIMESTAMP" property="sellTime"/>
        <result column="goodDescribe" jdbcType="VARCHAR" property="goodDescribe"/>
        <result column="goodSize" jdbcType="DOUBLE" property="goodSize"/>
        <result column="companyId" jdbcType="BIGINT" property="companyId"/>
        <result column="discountOff" jdbcType="DOUBLE" property="discountOff"/>
        <result column="fullPrice" jdbcType="DECIMAL" property="fullPrice"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="GoodDetailResultMap" type="com.lettuce.management.entity.GoodDetail">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="BIGINT" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="goodDescribe" jdbcType="VARCHAR" property="goodDescribe"/>
        <result column="goodSize" jdbcType="DOUBLE" property="goodSize"/>
        <result column="companyId" jdbcType="BIGINT" property="companyId"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="ManagementDeliverWayResultMap" type="com.lettuce.management.entity.DeliverWay">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="deliverWay" jdbcType="VARCHAR" property="deliverWay"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="GoodDeliverWayResultMap" type="com.lettuce.management.entity.GoodDeliverWay">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="BIGINT" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="deliverWay" jdbcType="BIGINT" property="deliverWay"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="GoodDiscountResultMap" type="com.lettuce.management.entity.GoodDiscount">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appId" jdbcType="BIGINT" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="discountOff" jdbcType="DOUBLE" property="discountOff"/>
        <result column="fullPrice" jdbcType="DECIMAL" property="fullPrice"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <resultMap id="GoodInfoResultMap" type="com.lettuce.management.entity.GoodInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pictureId" jdbcType="VARCHAR" property="pictureId"/>
        <result column="appId" jdbcType="VARCHAR" property="appId"/>
        <result column="goodId" jdbcType="BIGINT" property="goodId"/>
        <result column="infoType" jdbcType="TINYINT" property="infoType"/>
        <result column="contentType" jdbcType="VARCHAR" property="contentType"/>
        <result column="size" jdbcType="BIGINT" property="size"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
        <result column="gmtTime" jdbcType="TIMESTAMP" property="gmtTime"/>
        <result column="gmtUserId" jdbcType="BIGINT" property="gmtUserId"/>
    </resultMap>
    <sql id="Good_Base_List">
        psgb.id, psgb.appId, psgb.goodId, psgb.categoryId, goodName, goodMaxPrice,
        goodMinPrice, goodUrl, goodCoverImg, isSpecialPrice, specialPrice,
        isDiscount, paymentNo, stock, markNo, commentNo, sellStatus, sellTime,
        psgb.createTime, psgb.createUserId, psgb.gmtTime, psgb.gmtUserId
    </sql>
    <sql id="Good_Detail_List">
        psgd.id, psgd.appId, psgd.goodId, goodDescribe, goodSize, companyId, psgd.createTime,
        psgd.createUserId, psgd.gmtTime, psgd.gmtUserId
    </sql>
    <sql id="Management_Deliver_Way_List">
        mdw.id, mdw.deliverWay, mdw.createTime, mdw.createUserId,
        mdw.gmtTime, mdw.gmtUserId
    </sql>
    <sql id="Good_Deliver_Way_List">
        psgdw.id, psgdw.appId, psgdw.goodId, deliverWay, psgdw.createTime, psgdw.createUserId,
        psgdw.gmtTime, psgdw.gmtUserId
    </sql>
    <sql id="Good_Discount_List">
        psgdis.id, psgd.appId, psgdis.goodId, discountOff, fullPrice, psgdis.createUserId,
        psgdis.createTime, psgdis.gmtUserId, psgdis.gmtTime
    </sql>
    <sql id="Good_Info_List">
        psgi.id, psgi.pictureId, psgi.appId, psgi.goodId, psgi.infoType, psgi.contentType,
        psgi.size, psgi.path, psgi.url, psgi.type, psgi.createUserId, psgi.createTime,
        psgi.gmtUserId, psgi.gmtTime
    </sql>
    <sql id="GoodBaseWhere">
        <where>
            <if test="params != null and params != ''">
                <if test="params.appId != null and params.appId != ''">
                    and psgb.appId = #{params.appId}
                </if>
                <if test="params.goodId != null and params.goodId != ''">
                    and psgb.goodId = #{params.goodId}
                </if>
                <if test="params.categoryId != null and params.categoryId != ''">
                    and psgb.categoryId = #{params.categoryId}
                </if>
                <if test="params.goodName != null and params.goodName != ''">
                    and psgb.goodName like CONCAT('%',#{params.goodName},'%')
                </if>
                <if test="params.sellStatus != null and params.sellStatus != ''">
                    and psgb.sellStatus = #{params.sellStatus}
                </if>
            </if>
        </where>
    </sql>
    <sql id="GoodInfoWhere">
        <where>
            <if test="params != null and params != ''">
                <if test="params.appId != null and params.appId != ''">
                    and psgb.appId = #{params.appId}
                </if>
                <if test="params.goodId != null and params.goodId != ''">
                    and psgb.goodId = #{params.goodId}
                </if>
                <if test="params.categoryId != null and params.categoryId != ''">
                    and psgb.categoryId = #{params.categoryId}
                </if>
                <if test="params.goodName != null and params.goodName != ''">
                    and psgb.goodName like CONCAT('%',#{params.goodName},'%')
                </if>
            </if>
        </where>
    </sql>
    <select id="list" resultMap="GoodBaseResultMap">
        select
        <include refid="Good_Base_List"/>
        from products_shown_good_base as psgb
        <include refid="GoodBaseWhere"/>
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>
    <select id="count" resultType="int">
        select count(1) from products_shown_good_base as psgb
        <include refid="GoodBaseWhere"/>
    </select>
    <select id="getGoodIdByCategoryId" resultType="java.lang.Long">
        select goodId
        from products_shown_good_base
        where categoryId = #{categoryId}
    </select>
    <delete id="deleteGoodBaseByGoodIdList" parameterType="java.lang.Long">
        delete from products_shown_good_base
        where goodId in
        <foreach collection="list" item="goodIdList" separator="," open="(" close=")">
            #{goodIdList, jdbcType=NUMERIC}
        </foreach>
    </delete>
    <delete id="deleteGoodInfoByGoodIdList" parameterType="java.lang.Long">
        delete from products_shown_good_info
        where goodId in
        <foreach collection="list" item="goodIdList" separator="," open="(" close=")">
            #{goodIdList, jdbcType=NUMERIC}
        </foreach>
    </delete>
    <delete id="deleteGoodDetailByGoodIdList" parameterType="java.lang.Long">
        delete from products_shown_good_detail
        where goodId in
        <foreach collection="list" item="goodIdList" separator="," open="(" close=")">
            #{goodIdList, jdbcType=NUMERIC}
        </foreach>
    </delete>
    <delete id="deleteGoodDeliverWayByGoodIdList" parameterType="java.lang.Long">
        delete from products_shown_good_deliver_way
        where goodId in
        <foreach collection="list" item="goodIdList" separator="," open="(" close=")">
            #{goodIdList, jdbcType=NUMERIC}
        </foreach>
    </delete>
    <delete id="deleteGoodDiscountByGoodIdList" parameterType="java.lang.Long">
        delete from products_shown_good_discount
        where goodId in
        <foreach collection="list" item="goodIdList" separator="," open="(" close=")">
            #{goodIdList, jdbcType=NUMERIC}
        </foreach>
    </delete>
    <select id="getGoodBaseByParam" resultMap="GoodBaseResultMap">
        select
        <include refid="Good_Base_List"/>, psc.categoryName
        from products_shown_good_base as psgb
        right join products_shown_category as psc on psgb.categoryId = psc.categoryId
        where 1 = 1
        <if test="goodId != null and goodId != ''">
            and psgb.goodId = #{goodId}
        </if>
        <if test="goodName != null and goodName != ''">
            and psgb.goodName = #{goodName}
        </if>
        <if test="appId != null and appId != ''">
            and psgb.appId = #{appId}
        </if>
    </select>
    <insert id="saveBase">
        insert into products_shown_good_base
        (appId, goodId, categoryId, goodName, goodMaxPrice, goodMinPrice, goodUrl, isSpecialPrice, specialPrice,
         isDiscount, stock, sellStatus, sellTime, createUserId, createTime)
            value
            (#{appId}, #{goodId}, #{categoryId}, #{goodName}, #{goodMaxPrice}, #{goodMinPrice}, #{goodUrl}, #{isSpecialPrice},
            #{specialPrice}, #{isDiscount}, #{stock}, #{sellStatus}, #{sellTime}, #{createUserId}, now())
    </insert>
    <insert id="saveDetail">
        insert into products_shown_good_detail
        (appId, goodId, goodDescribe, goodSize, companyId, createUserId, createTime)
            value
            (#{appId}, #{goodId}, #{goodDescribe}, #{goodSize}, #{companyId}, #{createUserId}, now())
    </insert>
    <insert id="saveDiscount">
        insert into products_shown_good_discount
            (appId, goodId, discountOff, fullPrice, createUserId, createTime)
            value
            (#{appId}, #{goodId}, #{discountOff}, #{fullPrice}, #{createUserId}, now())
    </insert>
    <select id="listAllDeliverWay" resultMap="ManagementDeliverWayResultMap">
        select
        <include refid="Management_Deliver_Way_List"/>
        from management_deliver_way as mdw
        order by mdw.id asc
    </select>
    <insert id="saveDeliverWay">
        insert into products_shown_good_deliver_way(appId, goodId, deliverWay, createUserId, createTime)
        values
        <foreach collection="goodDeliverWayList" item="goodDeliverWay" separator=",">
            (#{goodDeliverWay.appId}, #{goodDeliverWay.goodId}, #{goodDeliverWay.deliverWay},
            #{goodDeliverWay.createUserId}, now())
        </foreach>
    </insert>
    <select id="getGoodByCategoryId" resultMap="GoodBaseResultMap">
        select
        <include refid="Good_Base_List"/>
        from products_shown_good_base as psgb
        where psgb.categoryId = #{categoryId}
    </select>
    <select id="goodInfoCount" resultType="int">
        select count(distinct psgi.goodId) from products_shown_good_info as psgi
        left join products_shown_good_base as psgb on psgi.goodId = psgb.goodId
        <include refid="GoodBaseWhere"/>
    </select>
    <select id="getGoodBaseByGoodId" resultMap="GoodBaseResultMap">
        select
        <include refid="Good_Base_List"/>
        from products_shown_good_base as psgb
        where psgb.goodId in
        <foreach collection="list" item="goodInfoIdList" separator="," open="(" close=")">
            #{goodInfoIdList, jdbcType=NUMERIC}
        </foreach>
    </select>
    <select id="goodInfoIdList" resultType="java.lang.Long">
        select DISTINCT psgi.goodId from products_shown_good_info as psgi
        left join products_shown_good_base as psgb on psgi.goodId = psgb.goodId
        <include refid="GoodBaseWhere"/>
        and psgi.infoType = 2
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>
    <select id="allGoodInfoList" resultMap="GoodInfoResultMap">
        select
        <include refid="Good_Info_List"/>
        from products_shown_good_info as psgi
        where psgi.infoType = 2
    </select>
    <select id="getGoodInfoById" resultMap="GoodInfoResultMap">
        select
        <include refid="Good_Info_List"/>
        from products_shown_good_info as psgi
        where psgi.goodId = #{goodId} and psgi.appId = #{appId} and psgi.infoType = 2
    </select>
    <insert id="addGoodInfo">
        insert into products_shown_good_info
        (pictureId, appId, goodId, infoType, contentType, size, path, url, type, createTime, createUserId)
        values (#{pictureId}, #{appId}, #{goodId}, #{infoType}, #{contentType}, #{size}, #{path}, #{url}, #{type},
                now(), #{createUserId})
    </insert>
    <delete id="deleteGoodInfo">
        delete from products_shown_good_info
        where goodId = #{goodId} and appId = #{appId} and infoType = 2
    </delete>
    <select id="getGoodByParam" resultMap="GoodResultMap">
        select
        <include refid="Good_Base_List"/>,
               psgd.goodDescribe, psgd.goodSize, psgd.companyId, psgdis.discountOff, psgdis.fullPrice
        from products_shown_good_base as psgb
        left join products_shown_good_detail as psgd on psgb.goodId = psgd.goodId
        left join products_shown_good_discount as psgdis on psgb.goodId = psgdis.goodId
        where 1 = 1
        <if test="goodId != null and goodId != ''">
            and psgb.goodId = #{goodId}
        </if>
        <if test="appId != null and appId != ''">
            and psgb.appId = #{appId}
        </if>
    </select>
    <select id="getDeliverWayByGoodId" resultMap="ManagementDeliverWayResultMap">
        select
        <include refid="Management_Deliver_Way_List"/>
        from management_deliver_way as mdw
        inner join products_shown_good_deliver_way as psgdw
        on mdw.id = psgdw.deliverWay
        where 1 = 1
        <if test="goodId != null and goodId != ''">
            and psgdw.goodId = #{goodId}
        </if>
        <if test="appId != null and appId != ''">
            and psgdw.appId = #{appId}
        </if>
    </select>
</mapper>